body {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #222;
  padding: 25px;
  color: #fff;
}
.bannerImg {
  background-image:url('../images/banner.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width: 100%;
  margin-top: 50px;
}


.scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.scrollToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
#myCarousel {
  height: 600px;
}
.phnoLabel {
  margin-top: auto;
}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 767px) {
  #myCarousel {
    height: 300px;
  }
  .phnoLabel {
    margin-top: 15px;
  }
}

@media screen and (max-width: 300px) {
  #myCarousel {
    height: 201px;
  }
}

